<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.placeitnow.placeitnow">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".PlaceItNow">

        <activity android:name=".MainActivity"
            android:theme="@style/Main"
            android:label="Order Dashboard"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".BaseActivityFragment"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".VendorProfile"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".OrderSelection"
            android:label="Order Selection"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".OrderSummary"
            android:label="Order Selection"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".HowToUse"
            android:label="HowToUse"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>